@model BudgetM.Dashboard.Models.DTOs.BudgetDTO
@using BudgetM.Dashboard.Enums;

@{
	ViewBag.Title = "Create";
	Layout = "~/Views/Shared/_Layout.cshtml";

	var title = "Add Budget";
	var btncolor = "btn-primary";
	var btntext = "Save";
	var btnIcon = "fa-regular fa-floppy-disk";

	if ( Model != null)
	{
		title = "Update Budget";
		btncolor = "btn-success";
		btntext = "Update";
		btnIcon = "fa-solid fa-rotate";
	}




}


<body class="">
	<div id="layoutAuthentication">
		<div id="layoutAuthentication_content">
			<main>
				<div class="container">
					<div class="row justify-content-center">
						<div class="col-lg-7">
							<div class="card shadow-lg border-0 rounded-lg mt-5">
								<div class="card-header"><h3 class="text-center font-weight-light my-4">@title </h3></div>
								<div class="card-body">

									<form action="/BudgetCreate" method="post">

										@if( @Model != null )
												{
													<input type="hidden" value="@Model.Id" name="Id" />
												}


										<div class="row mb-3">
											<div class="col-md-6">
												<div class="form-floating mb-3 mb-md-0">
													<input class="form-control" id="NeedsNameId" type="text" placeholder="Needs" name="BudgetName" value="@(Model != null ? Model.BudgetName : "")" />
													<label for="NeedsNameId">Budget Name</label>
												</div>
											</div>


											<div class="col-md-6">
												<div class="form-floating mb-3 mb-md-0">
													<input class="form-control" id="NeedsBudgetId" type="text" placeholder="Budgets" name="BudgetPrice" value="@(Model != null ? Model.BudgetPrice : 0)" />
													<label for="NeedsBudgetId">Budget Price</label>
												</div>
											</div>



										</div>

										<div class="row mb-3">
											<div class="col-md-12">
												<div>
													<label class="mb-2" for="CategorySelectId">Select Category</label>
													
													<select class="form-select" aria-label="Default select example" name="BudgetCategory">

															<option value="0" @(Model != null && Model.BudgetCategory == BudgetCategory.Needs ? "selected" : "")>Needs</option>
															<option value="1" @(Model != null && Model.BudgetCategory == BudgetCategory.Wants ? "selected" : "")>Wants</option>
															<option value="2" @(Model != null && Model.BudgetCategory == BudgetCategory.Culture ? "selected" : "")>Culture</option>
															<option value="3" @(Model != null && Model.BudgetCategory == BudgetCategory.Unexpected ? "selected" : "") >Unexpected</option>
														
													</select>

												</div>
											</div>
										</div>
										<div class="mt-4 mb-0">
											<div class="d-grid"><button class="btn @btncolor btn-block" type="submit"><i class="@btnIcon me-2"></i>@btntext</button></div>
										</div>
									</form>
</div>
								@*<div class="card-footer text-center py-3">
										<div class="small"><a href="login.html">Have an account? Go to login</a></div>
									</div>*@
							</div>
						</div>
					</div>
				</div>
			</main>
		</div>

	</div>
	<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.3/dist/js/bootstrap.bundle.min.js" crossorigin="anonymous"></script>
	<script src="js/scripts.js"></script>
</body>


