
@model List<BudgetM.Dashboard.Models.DTOs.BudgetDTO>

@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";

    var needs = ViewBag.Needs as List<BudgetM.Dashboard.Models.DTOs.BudgetDTO>;
    var wants = ViewBag.Wants as List<BudgetM.Dashboard.Models.DTOs.BudgetDTO>;
    var culture = ViewBag.Culture as List<BudgetM.Dashboard.Models.DTOs.BudgetDTO>;
    var unexpected = ViewBag.Unexpected as List<BudgetM.Dashboard.Models.DTOs.BudgetDTO>;
}



<div class="container-fluid mt-4">


    <h2 class="fw-bold mb-4">Monthly Kakeibo Budget Summary</h2>

    <div class="row">

        <div class="col-sm-6">

            <div class="card border-secondary mb-3">
                <div class="accordion" id="accordionPanelsStayOpenExample">
                    <div class="accordion-item">

                        <h2 class="accordion-header">
                            <button class="accordion-button" type="button" data-bs-toggle="collapse" data-bs-target="#panelsStayOpen-collapseOne" aria-expanded="true" aria-controls="panelsStayOpen-collapseOne">
                                <h5>Needs</h5>
                            </button>
                        </h2>


                        <div id="panelsStayOpen-collapseOne" class="accordion-collapse collapse show">
                            <div class="accordion-body">
                                <div class="card-body text-black">



                                    <table class="table table-hover">


                                        @foreach (var item in needs)
                                            {
                                                <tr>
                                                    <td>@item.BudgetName</td>
                                                    <td class="text-end">@item.BudgetPrice</td>
                                                </tr>
                                            }


                                    </table>

                                    <h6 class="card-title text-end fw-bold">Total Needs: @needs.Sum(x => x.BudgetPrice) </h6>
                                </div>
                            </div>
                        </div>




                    </div>
                </div>

            </div>

        </div>

        <div class="col-sm-6">


            <div class="card border-secondary mb-3">
                <div class="accordion" id="accordionPanelsStayOpenExample">
                    <div class="accordion-item">

                        <h2 class="accordion-header">
                            <button class="accordion-button" type="button" data-bs-toggle="collapse" data-bs-target="#panelsStayOpen-collapseTwo" aria-expanded="true" aria-controls="panelsStayOpen-collapseTwo">
                                <h5>Wants</h5>
                            </button>
                        </h2>


                        <div id="panelsStayOpen-collapseTwo" class="accordion-collapse collapse show">
                            <div class="accordion-body">
                                <div class="card-body text-black">




                                    <table class="table table-hover">

                                        @foreach (var item in wants)
                                        {
                                            <tr>
                                                <td>@item.BudgetName</td>
                                                <td class="text-end">@item.BudgetPrice</td>
                                            </tr>
                                        }

                                       
                                    </table>

                                    <h6 class="card-title text-end fw-bold">Total Wants: @wants.Sum(x => x.BudgetPrice) </h6>
                                </div>
                            </div>
                        </div>




                    </div>
                </div>

            </div>

        </div>


        <div class="col-sm-6">

            <div class="card border-secondary mb-3">
                <div class="card-header"><h5>Culture</h5></div>
                <div class="card-body text-black">
                    <table class="table table-hover">

                        @foreach (var item in culture)
                        {
                            <tr>
                                <td>@item.BudgetName</td>
                                <td class="text-end">@item.BudgetPrice</td>
                            </tr>
                        }

                       
                    </table>
                    <h6 class="card-title text-end fw-bold">Total Needs: @culture.Sum(x => x.BudgetPrice)</h6>
                </div>
            </div>

        </div>


        <div class="col-sm-6">

            <div class="card border-secondary mb-3">
                <div class="card-header"><h5>Unexpected</h5></div>
                <div class="card-body text-black">
                    <table class="table table-hover">

                        @foreach (var item in unexpected)
                        {
                            <tr>
                                <td>@item.BudgetName</td>
                                <td class="text-end">@item.BudgetPrice</td>
                            </tr>
                        }


                    </table>

                    <h6 class="card-title text-end fw-bold">Total Needs: @unexpected.Sum(x => x.BudgetPrice) </h6>
                </div>
            </div>

        </div>




    </div>
</div>




